<div class="container">
  <% @posts.each do |post| %>
  <div class = "contenedor">
    <h1><%= link_to post.title, post_path( post ) %></h1>
    <p class = "info">Publicado por <b><%= post.author %></b> hace <b> <%= time_ago_in_words(post.created_at, scope: 'datetime.distance_in_words' ).gsub( "and", "y" ) %></b></p>

    <% renderer = Redcarpet::Render::HTML.new(no_links: true, hard_wrap: true)%>
    <% markdown = Redcarpet::Markdown.new( renderer, extensions = {} )%>
    <%= markdown.render(post.content[0..250]).html_safe%>
    <% if user_signed_in? %>
      <% if post.author == current_user.email %>
        <%= link_to "Editar", edit_post_path( post ), class: "link"  %>
        <%= link_to "Eliminar", post, method: :delete, data: { confirm: "¿Desea eliminar este producto?" }, class: "link"  %>
      <%end%>
      <br><br>

    <%end%>
    </div>
  <%end%>
</div>
