<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <% @posts.each do |post| %>

      <div class = "contenedor">
        <h3><%= link_to post.title, post_path( post ) %></h3>

        <% renderer = Redcarpet::Render::HTML.new( no_links: true, hard_wrap: true )%>
        <% markdown = Redcarpet::Markdown.new( renderer, extensions = {})%>
        <%= markdown.render( post.content[0..250] ).html_safe%>
        <% tiempo = Time.diff( post.created_at, Time.now ) %>
        <% aproximacion = distance_of_time_in_words( Time.now, Time.now + tiempo[:year].years + tiempo[:month].months + tiempo[:day].days + tiempo[:hour].hours, scope: 'datetime.distance_in_words' ) %>

        <p class = "info">Publicado por <b><%= post.author %></b> hace aproximadamente <b> <%= aproximacion %></b></p>

        <% if user_signed_in? %>
          <% if post.author == current_user.email %>
            <%=link_to "Editar", edit_post_path( post ), class: "link"  %>
            <%=link_to "Eliminar", post, method: :delete, data: { confirm: "¿Desea borrar este post?" }, class: "link"  %>
          <%end%>
          <br><br>
        <%end%>
      </div>

      <%end%>
    </div>
  </div>
</div>
